<div>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Lista de Igrejas em São Luís</span>
        </div>
    </md-toolbar>

    <md-content>
        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="igreja in igrejas" ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ igreja.nome }}</h3>
                    <h4>{{ igreja.endereco }}</h4>
                    <p>{{ igreja.paroco }}</p>
                    <p>{{ igreja.descricao }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>