<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Servicos</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="servico : ${servicos}">
        <td th:text="${servico.nome}"></td>

    </tr>
    </tbody>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script  th:href="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>